<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/backend/application/api/library/robot/websocket/phrity/net-uri/tests" />
        <option value="$PROJECT_DIR$/backend/application/api/library/robot/websocket/phrity/util-errorhandler/tests" />
        <option value="$PROJECT_DIR$/backend/application/api/library/robot/websocket/textalk/websocket/tests" />
        <option value="$PROJECT_DIR$/backend/thinkphp/tests" />
      </list>
    </option>
  </component>
</project>